button {
    cursor: pointer;
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
    &:hover{
        background-color: rgba(204, 203, 203, 0.9);
    } 
}

.heart, .heart--included {
    width: 2.5rem;
    height: 2.5rem;
    position: center;             
}


