* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

input {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #eeeeee;
    padding: 5px;
    background-color: transparent; 
    color: #eeeeee;

    &:focus{
        outline: none;
    }
}

Link {
    width: 30px;
    height: 30px;
}

.search-button {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    &:hover{
        background-color: rgba(204, 203, 203, 0.9);
    } 
}





